__pycache__/
*.pyc

/testsprite_tests

/temp

/client/.env
/server/.env
/client/env_template.txt
/server/env_template.txt

server\app\camera_init.log
server\app\capture_commands.log
server\app\capture_loop.log
server\app\capture_main.log
server\app\capture_video_send.log
server\app\capture_websocket.log

server\app\routers\__pycache__
server\app\config\__pycache__
server\app\__pycache__
server\app\services\__pycache__